<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="warnee's github page">
	<meta name="author" content="warnee">
	
	<link rel="stylesheet" type="text/css" href="../../bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../bootstrap/3.0.2/css/bootstrap-theme.css">

	<style type="text/css">

		body {
		  padding-top: 70px;
		  padding-bottom: 30px;
		}

		.theme-dropdown .dropdown-menu {
		  display: block;
		  position: static;
		  margin-bottom: 20px;
		}

		.theme-showcase > p > .btn {
		  margin: 5px 0;
		}

	</style>


</head>
<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../../index.html">warnee</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="../../index.html">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Study <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="../java/index.html">java</a></li>
							<li><a href="../javascript/index.html">javascript</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">SNS <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" onclick="openSite('http://www.facebook.com/darkwarnee')">Facebook</a></li>
							<li><a href="#" onclick="openSite('http://twitter.com/darkwarnee')">Twitter</a></li>
							<li><a href="#" onclick="openSite('http://gplus.to/darkwarnee')">Google+</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>



	</div>

	<div class="container theme-showcase">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>java</h1>
			<p>
				java를 공부하면서 알게된 정보나 팁들을 정리해 볼까 합니다.<br/>
				나름 주종목인 java 였는데 몇년 지나면서 점점 멀어져 가는 군요.<br/>
				직접 기술하기보다는 링크를 거는 편이 더 많을거 같네요. 매번 구글링하기 귀찮아서...
			</p>
		</div>

		<div>
			<ul>
				<li>
					<h3>Garbage Collection</h3>
					NHN 개발자 블로그에 좋은 글이 있어서 링크합니다.
					<ul>
						<li><a href="http://helloworld.naver.com/helloworld/1329" target="_blank">1편. Java Garbage Collection</a></li>
						<li><a href="http://helloworld.naver.com/helloworld/6043" target="_blank">2편. Garbage Collection 모니터링 방법</a></li>
						<li><a href="http://helloworld.naver.com/helloworld/37111" target="_blank">3편. Garbage Collection 튜닝</a></li>
						<li><a href="http://helloworld.naver.com/helloworld/4717" target="_blank">번외. Garbage Collection과 Statement Pool</a></li>
					</ul>
				</li>
				<li>
					<h3>TDD</h3>
					<ul>
						<li>test-driven development, TDD, 테스트 주도개발</li>
						<li><a href="http://ko.wikipedia.org/wiki/테스트_주도_개발" target="_blank">wiki설명</a></li>
					</ul>
				</li>
				<li>
					<h3>BDD</h3>
					<ul>
						<li>Behavior-driven_development, BDD, 행위 주도개발</li>
						<li><a href="http://en.wikipedia.org/wiki/Behavior-driven_development" target="_blank">wiki설명(영문)</a></li>
					</ul>
				</li>
				<li>
					<h3>ORM</h3>
					<ul>
						<li><a href="http://en.wikipedia.org/wiki/Object-relational_mapping" target="_blank">wiki설명</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../../bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>


</body>
</html>