<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="warnee's github page">
	<meta name="author" content="warnee">
	
	<link rel="stylesheet" type="text/css" href="../../bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../bootstrap/3.0.2/css/bootstrap-theme.css">

	<style type="text/css">

		body {
		  padding-top: 70px;
		  padding-bottom: 30px;
		}

		.theme-dropdown .dropdown-menu {
		  display: block;
		  position: static;
		  margin-bottom: 20px;
		}

		.theme-showcase > p > .btn {
		  margin: 5px 0;
		}

	</style>


</head>
<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../../index.html">warnee</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="../../index.html">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Study <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="../java/index.html">java</a></li>
							<li><a href="../javascript/index.html">javascript</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">SNS <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" onclick="openSite('http://www.facebook.com/darkwarnee')">Facebook</a></li>
							<li><a href="#" onclick="openSite('http://twitter.com/darkwarnee')">Twitter</a></li>
							<li><a href="#" onclick="openSite('http://gplus.to/darkwarnee')">Google+</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>



	</div>

	<div class="container theme-showcase">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>java</h1>
			<p>
				공부하면서 알게된 정보나 팁들을 정리해 볼까 합니다.<br/>
				직접 기술하기보다는 링크를 거는 편이 더 많을거 같네요. 매번 구글링하기 귀찮아서...
			</p>
		</div>

		<div>
			<ul>
				<li>
					<h3>객체지향설계 5원칙 </h3>
					PHP 스쿨 링크
					<ul>
						<li><a href="http://phpschool.com/gnuboard4/bbs/board.php?bo_table=tipntech&wr_id=68761&sca=&sfl=wr_subject%7C%7Cwr_content&stx=%B0%B4%C3%BC%C1%F6%C7%E2%BC%B3%B0%E8+5%BF%F8%C4%A2&sop=and" target="_blank">객체지향설계 5원칙(1) : OCP, SRP</a></li>
						<li><a href="http://phpschool.com/gnuboard4/bbs/board.php?bo_table=tipntech&wr_id=68779&sca=&sfl=wr_subject%7C%7Cwr_content&stx=%B0%B4%C3%BC%C1%F6%C7%E2%BC%B3%B0%E8+5%BF%F8%C4%A2&sop=and" target="_blank">객체지향설계 5원칙(2) : LSP,DIP,ISP</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../../bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>


</body>
</html>